@font-face {
  font-family: sequel;
  src:
    url('../fonts/sequel-100-black-55.woff2') format('woff2'),
    url('../fonts/sequel-100-black-55.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
