.intro {
  position: absolute;
  width: 100%;
  height: calc(100% - 24px);
  left: 0;
  top: 0;
  text-align: center;

  &__bg {
    position: absolute;
    width: 480px;
    height: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include tablet-phone {
      width: 192px;
      height: 192px;
    }
  }

  &__bg-layer {
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: height 800ms 200ms $easing;
    background-size: cover;

    &:nth-child(1) {
      background-image: url('../images/bg1.png');
    }

    &:nth-child(2) {
      background-image: url('../images/bg2.png');
    }

    &:nth-child(3) {
      background-image: url('../images/bg3.png');
    }

    &--show {
      background-position: 100% 100%;
      height: 100%;
    }

    &--hide {
      background-position: 0 0;
      height: 0;
      bottom: auto;
      top: 0;
    }
  }

  &__text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);
    font-size: 65px;
    line-height: 76px;
    color: #fff;

    @include tablet-phone {
      font-size: 25px;
      line-height: 1.2;
    }
  }

  &__text-layer {
    overflow: hidden;
    height: 72px;

    @include tablet-phone {
      height: 32px;
    }

    div {
      transform: translate(0, 100%);
      transition: transform 1400ms $easing;
    }

    &--show {
      div {
        transform: translate(0, 0);
      }
    }

    &--hide {
      div {
        transform: translate(0, -100%);
      }
    }
  }
}
