@import "~normalize.css";
@import "~jquery-modal/jquery.modal.min.css";
@import "mixins.scss";
@import "fonts.scss";

html {
  font-family: sequel, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

@keyframes blink {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
